In [83]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor

from sklearn.metrics import r2_score
import numpy as np
from sklearn.model_selection import train_test_split

In [84]:
data = pd.read_csv(r"C:\Users\Shinoj Simon\Downloads\old - Sheet1.csv")
data.head()

,Country,Year,2017 Jan-April,2017 May-Aug,2017 Sep-Dec,2018 Jan-April,2018 May-Aug,2018 Sep-Dec,2019 Jan-April,2019 May-Aug,2019 Sep-Dec,2020 Jan-April,2020 May-Aug,2020 Sep-Dec,2021 Jan-April,2021 May-Aug,2021 Sep-Dec,2022 Jan-April,2022 May-Aug,2022 Sep-Dec
0,Greece,0,1060151,622143,303049,222234,244648,250907,1091356,1384267,1745575,1757100,1747788,1525135,1158253,925566,791693,580239,582684,437832
1,Bulgaria,0,67773,33788,23652,16154,15510,15296,9415,10893,10342,8907,11128,25882,19227,27583,39991,50862,22795,65279
2,North Macedonia,0,1431,929,854,1210,1356,1195,1310,1657,1686,2319,1221,914,878,1350,1475,1028,1132,900
3,Serbia,0,128424,96745,74939,62523,53486,63953,105757,78176,89654,164600,130880,151872,110035,73374,79126,79259,94369,93055
4,Croatia,0,9221,9202,6467,6389,5626,5849,4263,3975,5490,6610,4698,7058,4789,5512,5734,6630,6412,6587

In [85]:
data.isnull().sum()

Country           0
Year              0
2017 Jan-April    0
2017 May-Aug      0
2017 Sep-Dec      0
2018 Jan-April    0
2018 May-Aug      0
2018 Sep-Dec      0
2019 Jan-April    0
2019  May-Aug     0
2019 Sep-Dec      0
2020 Jan-April    0
2020 May-Aug      0
2020 Sep-Dec      0
2021 Jan-April    0
2021 May-Aug      0
2021 Sep-Dec      0
2022 Jan-April    0
2022 May-Aug      0
2022 Sep-Dec      0
dtype: int64

In [86]:
data.columns = [int(col) if col.isdigit() else col for col in data.columns]

In [90]:
countries = data["Country"]
target_variable = data.sum(axis=1)

C:\Users\Shinoj Simon\AppData\Local\Temp\ipykernel_30664\4158768181.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  target_variable = data.sum(axis=1)

In [92]:
data = data.drop("Country", axis=1)

In [71]:
x_train, x_test, y_train, y_test = train_test_split(data, target_variable, test_size=0.2)

In [72]:
linear_regression_model = LinearRegression()
linear_regression_model.fit(x_train, y_train)

LinearRegression()

In [73]:
random_forest_regressor_model = RandomForestRegressor(n_estimators=100, random_state=42)
random_forest_regressor_model.fit(x_train, y_train)

RandomForestRegressor(random_state=42)

In [74]:
gradient_boosting_regressor_model = GradientBoostingRegressor(n_estimators=100, random_state=42)
gradient_boosting_regressor_model.fit(x_train, y_train)

GradientBoostingRegressor(random_state=42)

In [75]:
linear_regression_predictions = linear_regression_model.predict(data)
random_forest_regressor_predictions = random_forest_regressor_model.predict(data)
gradient_boosting_regressor_predictions = gradient_boosting_regressor_model.predict(data)

In [76]:
ensemble_predictions = (linear_regression_predictions * 0.3 + random_forest_regressor_predictions * 0.4 + gradient_boosting_regressor_predictions * 0.3)

In [77]:
r2 = r2_score(target_variable, ensemble_predictions)
print(f"R-squared value for ensemble model: {r2}")

R-squared value for ensemble model: 0.9478583743773819

In [78]:
predictions = {}
for i, country in enumerate(countries):
    predictions[country] = int(ensemble_predictions[i])
    print(f"{country} : {int(ensemble_predictions[i])}")

Greece : 11714816
Bulgaria : 468886
North Macedonia : 68652
Serbia : 1629263
Croatia : 120134
Slovenia : 118178
Cyprus : 298712
Romania : 163006
Italy : 18125816
Kosovo : 44843
Bosnia and Herzegovina : 1137299
Montenegro : 383197

In [79]:
future_total = ensemble_predictions.sum()
print(f"Total Predicted Immigration in Europe for next year: {int(future_total)}")

Total Predicted Immigration in Europe for next year: 34272807